<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>View Profile</title>
</head>
<body>
	<form>
		<table>
		<tr th:each="currentCustomer: ${customers}">
			<td th:text="${currentCustomer.id}" />
			<td th:text="${currentCustomer.firstName}" />
			<td th:text="${currentCustomer.lastName}" />
			<td th:text="${currentCustomer.phone}" />
			<td th:text="${currentCustomer.email}" />
			<td th:text="${currentCustomer.address}" />
			<td th:text="${currentCustomer.creditCard}" />

			<td><a th:href="@{/edit/{id}(id=${currentCustomer.id})}">Edit</a></td>
			<td><a th:href="@{/delete/{id}(id=${currentCustomer.id})}">Delete</a></td>
			</tr>
		</table>
	</form>
	<br>
</body>
</html>